*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
    color: lightcoral;
}

.card{
    width: 250px;
    border: 10px solid red;
}
.main{
    border: 2px solid blue;
}